<div class="sidebar-container">
  <div class="sidebar-card">
    <div class="sidebar-header">Menu</div>
    <a class="sidebar-item" routerLink="/admin">
      <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Home Icon" class="sidebar-icon" />
      Home
    </a>
    <a class="sidebar-item" routerLink="/admin/profile">
      <img src="https://cdn-icons-png.flaticon.com/512/1077/1077063.png" alt="Profile Icon" class="sidebar-icon" />
      Profile
    </a>
    <a class="sidebar-item" routerLink="/admin/categories">
      <img src="https://cdn-icons-png.flaticon.com/512/2919/2919592.png" alt="Categories Icon" class="sidebar-icon" />
      Categories
    </a>
    <a class="sidebar-item" routerLink="/admin/add-category">
      <img src="https://cdn-icons-png.flaticon.com/512/181/181540.png" alt="Add Category Icon" class="sidebar-icon" />
      Add Categories
    </a>
    <a class="sidebar-item" routerLink="/admin/quizzes">
      <img src="https://cdn-icons-png.flaticon.com/512/2983/2983795.png" alt="Quiz Icon" class="sidebar-icon" />
      Quizzes
    </a>
    <a class="sidebar-item" routerLink="/admin/add-quiz">
      <img src="https://cdn-icons-png.flaticon.com/512/1828/1828926.png" alt="Add Quiz Icon" class="sidebar-icon" />
      Add Quiz
    </a>
  </div>
</div>
